.tableContainer {
  display: grid;
}

.titleContainer {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr;
}

.button {
  justify-self: end;
  align-self: center;
}

.title {
  justify-self: start;
  align-self: center;
}

.Container {
  display: grid;
  grid-area: 'c';
  grid-template-rows: 80px 1fr;
}

.DialogContent {
  width: 500px;
  min-height: 400px;
}

.ColumnItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 500px;
}

.inputContainer {
  display: flex;
  margin-left: 20px;
}

.input {
  display: flex;
  width: 200px;
  height: 30px;
}

.TableInfo {
  display: grid;
  height: 60px;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  justify-items: center;
  align-items: center;
}
