.column {
  height: auto;
  width: 220px;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

